////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// HTML
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
html
{
	font-size:				$Text-Size-Base;
}
body
{
	font-family: 			$Text-Font-Base;
	line-height: 			$Text-Line-Height-Base;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// HEADING DEFAULT STATE
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
h1
{
	@include 				Set-Rem(font-size, 3);
}
h2
{
	@include 				Set-Rem(font-size, 2.5);
}
h3
{
	@include 				Set-Rem(font-size, 2);
}
h4
{
	@include 				Set-Rem(font-size, 1.5);
}
h5
{
	@include 				Set-Rem(font-size, 1.25);
}
h6
{
	@include 				Set-Rem(font-size, 1);
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////