////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// HTML
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
html
{
	@include Adaptive-Mobile
	{
		font-size:			$Text-Size-Mobile;
	}
	font-size:				$Text-Size-Base;
}
body
{
	@if ($Global-Content-Spacing == true)
	{
		@extend 				%Margin-Top-None;
	}
	min-height: 			320px;
	background-color: 		$Page-BGC;
	font-family: 			$Text-Font-Base;
	line-height: 			$Text-Line-Height-Base;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// LINK
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
a:link,
a:visited
{
	@extend 				%Link-Base-Prototype;
}

a.Script
{
	@extend 				%Link-Script-Prototype;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Blockquote
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
blockquote
{
	padding:				0 0 0 1.5em;
	border-left:			5px solid $C-Grey-5;
	footer
	{
		color:				$Text-Color-Secondary;
		@include 			Set-Rem(font-size, 0.875);

		&:before
		{
			content: 		"—";
		}
	}
	&.Reverse
	{
		padding:			0 1.5em 0 0;
		border-left:		0;
		border-right:		5px solid $C-Grey-5;
		text-align: 		right;
		footer
		{
			&:before
			{
				content: 	"";
			}
			&:after
			{
				content: 	"—";
			}
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Code
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
code
{
	@extend 				%Text-Monospace;
	display: 				block;
	padding: 				20px;
	border-left:			5px solid $C-Cyan-1;
	background-color: 		$C-Grey-2;
	color:					#fff;
	&.Inline
	{
		display: 			inline;
		padding:			2px 5px;
		border:				none;
		white-space: 		nowrap;
		@include 			Round(all, $Global-Border-Radius);
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// DL (Description List)
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
dl
{
	dt
	{
		font-weight: 		700;
	}

	dt + dd,
	dd + dd
	{
		@include 			Set-Rem(margin-top, $Content-Gap-Small);
	}

	dd + dt
	{
		@include 			Set-Rem(margin-top, $Content-Gap-Medium);
	}

	@media all and (min-width: $Viewport-XS)
	{
		&.Horizontal
		{
			@extend 			%Clearfix;
			dt
			{
				float: 			left;
				margin-top:		0;
				text-align: 	right;
				@include 		Set-Rem(width, 15);
				&:first-child
				{
					margin-top: 0;
				}
			}

			dd
			{
				@include 		Adaptive-Mobile
				{
					margin-left:25%;
				}
				@include 		Set-Rem(margin-left, 17);
			}

			dt:first-child + dd
			{
				margin-top: 	0;
			}

			dt, dd
			{
				@include 		Set-Rem(margin-top, $Content-Gap-Small);
			}

			dd + dt
			{
				clear:			left;
			}
		}
	}

}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// HEADING DEFAULT STATE
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
h1
{
	@include 				Set-Rem(font-size, 3);
}
h2
{
	@include 				Set-Rem(font-size, 2.5);
}
h3
{
	@include 				Set-Rem(font-size, 2);
}
h4
{
	@include 				Set-Rem(font-size, 1.5);
}
h5
{
	@include 				Set-Rem(font-size, 1.25);
}
h6
{
	@include 				Set-Rem(font-size, 1);
}
.Underlined
{
	padding-bottom:			5px;
	border-bottom:			1px solid $C-Grey-5;
}

@for $Header-Level from 1 to 7
{
	h#{$Header-Level}
	{
		@extend 			%Text-Weight-Normal;
		@extend 			%Unselectable;
	}
	h#{$Header-Level}.Subheader
	{
		@extend				%Text-Color-Secondary;
	}
	* + h#{$Header-Level}
	{
		@include 			Set-Rem(margin-top, 1.5);
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// PARAGRAPH
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
p
{
	@if ($Global-Content-Spacing != true)
	{
		p + p
		{
			@include 		Set-Rem(margin-top, 1);
		}
	}
	&.Leading
	{
		font-weight:		bold;
		@include 			Set-Rem(font-size, 1.25);
	}
	&.Secondary
	{
		@extend 			%Text-Color-Secondary;
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Uppercase
{
	@extend 				%Text-Uppercase;
}
.Unstyle
{
	@extend 				%Unstyle;
}