////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// NODE
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// NODE VARIABLES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$Node-Width:				1000px;
$Node-Zebra-BG:				#eee;
$Node-Padding:				40px;
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// NODE PROTOTYPES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
%Node-Prototype
{
	@extend 				%Content-Block;
	@extend 				%Node-Width;
}
%Node-Width
{
	@include 				Adaptive($Viewport-XS)
	{
		max-width:			$Node-Width;
	}
	@include 				Adaptive($Viewport-LR)
	{
		max-width:			$Node-Width + 100px;
	}
}
%Node-Out-Prototype
{
	padding:				20px 0;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// NODE STYLING
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
body.Nodes-Zebra
{
	.Node-Out:nth-child(even)
	{
		background-color: 	$Node-Zebra-BG;
	}
}
.Node-Out
{
	@extend 				%Node-Out-Prototype;
}
.Node
{
	@extend 				%Node-Prototype;
	@extend 				%Centrate;
	padding:				$Node-Padding;
}
.Node + .Node
{
	margin-top:				40px;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
