////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Clearfix. Pushes floated elements back to the flow
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
%Clearfix:before,
%Clearfix:after
{
	content: " ";
	display: table;
}

%Clearfix:after
{
	clear: both;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Positioning styles
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
%Centrate
{
	margin-left: auto;
	margin-right: auto;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
%Left
{
	float: left;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
%Right
{
	float: right;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// UNSTYLING
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
%Unstyle
{
	list-style: none;
	margin: 0;
	padding: 0;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// MAKES CHILDREN ELEMENTS INLINE
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
%Inline
{
	@extend %Clearfix;
	& > *
	{
		float: left;
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// DISABLES TEXT-SELECTING BY USER
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
%Unselectable
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// MAKES USER CURSOR LOOK LIKE POINTER
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
%Clickable
{
	cursor: pointer;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// LETTERPRESS EFFECT FOR TEXT
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
%Letterpress
{
	text-shadow: 1px 1px 1px white;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// LINKS THAT ARE USED TO RUN A SCRIPT AND DOES NOT MOVE USER TO ANOTHER PAGE WILL LOOK LIKE THAT
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
%Script
{
	text-decoration: none;
	border-bottom: 1px dashed;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// MAKES TEXT UPPERCASED
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
%Uppercase
{
	text-transform: uppercase;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////