@import "-variables";
@import "../../../scss/upf/upf";

body
{
	@include Animation(FadeIn,2s);
}

.Test
{
    max-width: 1600px;
    margin: 0 auto;
    [class*=Node-]
    {
        padding: 0.5rem;
        background:     $C-Red-4;
        color:          black;
    }

}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Vertical Grid
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Grid [class*=Col-] img
{
    display: block;
    width: 100%;
}

.Vertical.Grid{
    display: inline-block;
}

.Vertical.Grid [class*=Col-]
{
    position: relative;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////}

.Demo [class*='Col-']
{
	text-align: center;
	border: 1px solid $C-Grey-4;
	background-color: $C-Grey-5;
}

#ie-check
{
	background-color: red;
	input:first-of-type
	{
		margin: 100px;
	}
}








////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Vertical Grid
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Demo .Button-Transform{
    display: block;
    width: 140px;
    margin: 20px auto;
}

.Demo .Rectangles .Button-Transform{
    margin: 20px auto 70px;
}

.Demo .Ellipses .Button-Transform {
    margin: 20px auto 60px;
    border-radius: 50%;
    height: 40px;
}


.Demo .Squares .Button-Transform{
    width: 80px;
    height: 80px;
}

.Demo .Balls .Button-Transform{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.Button-Transform{
    -webkit-transition: linear 0.4s;
    -moz-transition: linear 0.4s;
    -o-transition: linear 0.4s;
    transition: linear 0.4s;

    &:hover{
        -webkit-transition: linear 0.3s;
        -moz-transition: linear 0.3s;
        -o-transition: linear 0.3s;
        transition: linear 0.3s;
    }

    &.Rotate:hover{
        transform: rotate(360deg);
    }

    &.Rotate:hover{
        transform: rotate(360deg);
    }


    &.Elevation-Up:hover{
        box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.15);
    }

    &.Elevation-Down:hover{
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    }

    &.Increase:hover{
        transform: scale(1.2,1.2);
    }

    &.Decrease:hover{
        transform: scale(0.9,0.9);
    }

    &.Skew-X:hover{
        transform: skewX(-30deg);
    }

    &.Skew-Y:hover{
        transform: skewY(-5deg);
    }

    &.Translate:hover{
        transform: translate(4px,2px);
    }

    &.Move:hover{
        transform: translate(20px,0);
    }

    &.Bold:hover{
        border: 2px #bbb solid;
        font-weight: bold;
    }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////