@import "-variables";
@import "../../../scss/upf/upf";

@include Content-Spacing(1);
@include Sticky-Footer('.Page-Wrapper', '.Page-Wrapper-Stop', '.Page-Footer', 50px);

.Page-Header
{
	background-color: 	#333;
	.Navicon-Toggle
	{
		margin: 10px 40px;
	}
}
.Page-Navigation
{
	@extend 			%Node-Width;
	@extend 			%Centrate;
	@extend 			%Inline-XS;
	margin-top: 		0;
}

.Page-Navigation-Item
{
	a
	{
		display: block;
		padding: 10px 40px;
		@include 		Adaptive($Viewport-XS)
		{
			padding: 10px;
		}
	}
}


.Test
{
    max-width: 1600px;
    margin: 0 auto;
    [class*=Node-]
    {
        padding: 0.5rem;
        background:     $C-Red-4;
        color:          black;
    }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Vertical Grid
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.Grid [class*=Node-] img
{
    display: block;
    width: 100%;
}

.Vertical.Grid{
    display: inline-block;
}

.Vertical.Grid [class*=Node-]
{
    position: relative;

}

.Grid.Split [class*=Node-]
{
    margin-bottom: 20px;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////}

.Demo [class*='Col-']
{
	text-align: center;
	border: 1px solid $C-Grey-4;
	background-color: $C-Grey-5;
}